body {
	font-family: Calibri, Verdana, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
}
#page{
	position: relative;
}
.header_carre_title	{
	font-size: 20px;
	color: #7fc241;
	margin-left: 15px;
}
span	{
	margin-left: 200px;
	color:#7fc241;
}
.carre	{
	border: 1px solid #7fc241;
	padding:15px;
	width: 270px;
	border-radius: 10px;
	height: 323px;
	margin:10px;
	position: relative;
	cursor: pointer;
}


#absolute-section {
	position: absolute;
    top: 305px;
	width: 100%;
	z-index: 1;
}
.carre_absolute	{
	border: 1px solid transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
    background: transparent;
	padding:15px;
	width: 270px;
	height: 77px;
	margin:10px;
	position: relative;
}

#under-section {
	position: relative;
	border-radius: 12px;
    margin-bottom: 20px;
}
#absolute-section-accueil {
	position: absolute;
    top: 206px;
	width: 100%;
	padding:15px;
	margin:5px;
}
.absolute_section_accueil_element {
	border: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background: transparent;
    
	position: relative;
	padding:15px;
	width: 230px;
	height: 73px;
	margin: 10px;
	z-index: 1;
}

.section_carre {
	width: 100%;
	padding:15px;
	border-radius: 10px;
	margin:5px;
	margin-bottom: 10px;
}
.section_carre_element{
	position: relative;
	border: 1px solid #7fc241;
	padding:15px;
	width: 230px;
	height: 225px;
	border-radius: 10px;
	margin:10px;
	cursor: pointer;
}
.section_carre_element_logo {
	width: 64px;
	height: 64px;
}
.section_carre_element_title {
	font-size: 20px;
	color: black;
	font-weight: bold;
	margin-top: 15px;
	text-align: center;
}

#section-formation-session {
	position: relative;
	border: 1px solid #7fc241;
	padding:15px;
	width: 100%;
	height: 225px;
	border-radius: 10px;
	margin: 5px;
}
#section-programme {
	position: relative;
	padding:15px;
	width: 100%;
	height: 225px;
	border-radius: 10px;
	margin: 5px;
}
#section-production {
	position: relative;
	padding:15px;
	width: 100%;
	height: 225px;
	border-radius: 10px;
	margin: 5px;
}
#section-assiduite {
	position: relative;
	padding:15px;
	width: 100%;
	height: 225px;
	border-radius: 10px;
	margin: 5px;
}
.section_carre_parameter_element {
	width: 100%;
	padding:13px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin:5px;
	margin-bottom: 10px;
}
.span_blue {
	color: #00aaff;
}
.contenu_carre {
	padding: 6px;
	padding-top: 20px;
}
.container:after {
	content:"";
	display: block;
	clear: both;
}
span {
	position: absolute;
	bottom: 20px;
	right: 10px;
}