.btn_plus	{
	width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #7fc241;
	position: relative;
}
.plus	{
	position: absolute;
	font-size:44px;
	color:white;
	left:7px;
	top:-6px;
}	
