.btn_blue {
	font-size: 1,1em;
	font-weight: bold;
	background-color: #126bad;
	color: white;
	padding: 12px 40px;
	border: 1px solid #126bad;
}

.btn_blue:hover {
	background-color: white;
	color: #126bad;
	border: 1px solid #126bad;
	transition-duration: 1s;
}

.btn_green {
	font-size: 1,1em;
	font-weight: bold;
	background-color: #8cbf29;
	color: white;
	padding: 12px 40px;
	border: 1px solid #8cbf29;
}

.btn_green:hover {
	background-color: white;
	color: #8cbf29;
	border: 1px solid #8cbf29;
	transition-duration: 1s;
}

.btn_pink {
	font-size: 1,1em;
	font-weight: bold;
	background-color: #e3007e;
	color: white;
	padding: 12px 40px;
	border: 1px solid #e3007e;
}

.btn_pink:hover {
	background-color: white;
	color: #0af;
	border: 1px solid #e3007e;
	transition-duration: 1s;
}	