#logo-afpa-lab {
    height: 55px;
}
#content-footer-container {
    width: 40%;
}
.content_footer {
    color: #fff;
    text-decoration: none;
}
.content_footer:hover {
    text-decoration: none;
    transform: scale(1.05);
}
.link_social a{
    margin: 10px;
}
.link_social a img{
    height: 55px;
}