#header {
    display: flex;
    clear: both;
    justify-content: space-around;
    margin-top: 20px;
}

.header-main-msg {
    font-size: 2.8rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--sec);
}

#eloce {
}

#afpa {
}

#text {
    color: #1f85de;
    margin-top: 15px;
}

#button {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.jj, .gc {
    margin-top: 10px;
    margin-bottom: 10px;
}

.gc a {
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.jj {
    font-weight: 600;
}

#Retour_prod {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#Bleu1 {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#Bleu2 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#Vert {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.pro_retourB {
    padding: 10PX;
    color: #1f85de;
    width: 10%;
    text-align: center;
}

.pro_retourBl {
    padding: 10PX;
    color: #1f85de;
    width: 10%;
    text-align: center;
}

.pro_retourV {
    padding: 10PX;
    color: #80ac29;
    width: 10%;
    text-align: center;
}

select {
    width: 20%;
    height: 50%;
    border-radius: 5px;
    padding: 10PX;
}

caption {
    color: white;
    background-color: #DF0174;
    text-align: center;
    padding-top: 7px;
    width: 150px;
    height: 30px;
}

#pourcentage {
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    height: 30%;
    margin-top: 50px;
}

td, td p {
    padding: 2px;
    margin: 2px;
}

/* 
    CSS pour le logo et le fullname du formateur
*/
#logo {
    display: flex;
    align-items: center;
    width: 26%;
}
#img-connected:hover {
    border-radius: 10%;
    margin-left: 1%;
    margin-bottom: 1%;
}

#img_connected {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#fullname_container{
    margin-left: 10%;
}
.fullname_formateur{
    color: deepskyblue;
    font-size: large;
}